::-moz-selection {
  color: var(--selection-color);
  background-color: var(--selection-bg-color);
}
::selection {
  color: var(--selection-color);
  background-color: var(--selection-bg-color);
}
@media (any-hover: hover) {
  pre > code::-webkit-scrollbar,
  .searchbox-body::-webkit-scrollbar {
    width: 0.4rem;
    height: 0.35rem;
  }
  pre > code::-webkit-scrollbar-thumb,
  .searchbox-body::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color);
    border-radius: 0.5rem;
  }
}
@media (any-hover: hover) and (max-width: 1024px) {
  pre > code::-webkit-scrollbar,
  .searchbox-body::-webkit-scrollbar {
    width: 0.35rem;
    height: 0.3rem;
  }
}
.space-bottom {
  margin-bottom: var(--space) !important;
}
.text-center {
  text-align: center !important;
}
.unselectable {
  -webkit-user-select: none !important;
  user-select: none !important;
}
.undraggable {
  -webkit-user-drag: none !important;
}
.opacity-0 {
  opacity: 0 !important;
}
.inline {
  display: inline !important;
}
