[data-theme="dark"] #dsqjs {
  color: var(--body-color) !important;
}
[data-theme="dark"] #dsqjs .dsqjs-header {
  color: #555 !important;
}
[data-theme="dark"] #dsqjs #dsqjs-msg,
[data-theme="dark"] #dsqjs .dsqjs-tab-active,
[data-theme="dark"] #dsqjs .dsqjs-post-body,
[data-theme="dark"] #dsqjs .dsqjs-no-comment {
  color: var(--body-color) !important;
}
[data-theme="dark"] #dsqjs .dsqjs-no-comment {
  opacity: 0.8;
}
