:root {
  --hlc: #a0a1a7;
  --hlk: #a626a4;
  --hln: #e45649;
  --hll: #0184bb;
  --hls: #50a14f;
  --hlt: #c18401;
  --hlv: #986801;
  --hlb: #4078f2;
}
:root[data-theme="dark"] {
  --hlc: #808895;
  --hlk: #c678dd;
  --hln: #e06c75;
  --hll: #56b6c2;
  --hls: #98c379;
  --hlt: #e6c07b;
  --hlv: #d19a66;
  --hlb: #61aeee;
}
.hljs {
  color: var(--text-code-block);
}
.hljs-comment,
.hljs-quote {
  color: var(--hlc);
}
.hljs-doctag,
.hljs-formula,
.hljs-keyword {
  color: var(--hlk);
}
.hljs-deletion,
.hljs-name,
.hljs-params,
.hljs-section,
.hljs-selector-tag,
.hljs-subst {
  color: var(--hln);
}
.hljs-literal {
  color: var(--hll);
}
.hljs-addition,
.hljs-attribute,
.hljs-meta-string,
.hljs-regexp,
.hljs-string {
  color: var(--hls);
}
.hljs-built_in,
.hljs-class .hljs-title {
  color: var(--hlt);
}
.hljs-attr,
.hljs-number,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-pseudo,
.hljs-template-variable,
.hljs-type,
.hljs-variable {
  color: var(--hlv);
}
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-symbol,
.hljs-title {
  color: var(--hlb);
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: 700;
}
