.transition body {
  transition: color 0.6s, background-color 0.6s;
}
.transition .header,
.transition .post-tags_link,
.transition pre {
  transition: background-color 0.6s;
}
.transition .post,
.transition .post-card,
.transition .comment {
  transition: background-color 0.6s, transform 0.3s, box-shadow 0.6s;
}
.transition h1,
.transition h2,
.transition h3,
.transition h4,
.transition h5 {
  transition: color 0.6s;
}
