<% if (post.tags && post.tags.length){ %>
<div class="<%= class_name %>">
  <%- list_tags(post.tags, { class: 'post-tags_link', show_count: false, style: null, separator: '' }).replace(/-link"/ig, '"');%>
</div>
<% } %>